body{
    color: rgb(48, 82, 9);
}


#title, .subtitle, .posttitle{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
    font-size: 60px;
}

.posttitle{
    font-size: 30px;
    font-style:italic;
    color: rgb(30, 80, 28);
    border: 3px solid #000;
    background-color: rgb(237, 241, 240);
}

.post{
   background-color: rgb(237, 241, 240);
   background-image: url("fotos/cod.png");
   padding: 10px;
   border: 3px solid #000;
   margin: 18px;
}